.description-boxs{
  max-width: 1070px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
@media (min-width: 320px) and (max-width: 767px){
  .description-boxs{
    display: block;
  }
}
