.description-box__call{
  max-width: 457px;
  font-family: 'RussOne-Regular';
  font-size: 32px;
  color: #ff8c00;
  font-weight: bold;
  margin: 0;
  margin-top: 10px;
}
@media (min-width: 320px) and (max-width: 767px){
  .description-box__call{
    display: block;
    margin: auto;
    text-align: center;
  }
}
