.services{
  background-color: rgba(34,34,34,255);
  padding-top: 40px;
  height: 500px;
}
@media (min-width: 768px) and (max-width: 1023px){
  .services{
    height: 550px;
  }
}
@media (min-width: 560px) and (max-width: 767px){
  .services{
    height: 650px;
  }
}
@media (min-width: 320px) and (max-width: 559px){
  .services{
    height: 1350px;
  }
}
