.consultation__title-bc{
  max-width: 486px;
  background-color: #fff;
  color: black;
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  margin-top: 40px;
}
@media (min-width: 320px) and (max-width: 767px){
  .consultation__title-bc{
    text-align: center;
  }
}
