.pluses__card-text{
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-family:  Helvetica, sans-serif;
  font-weight: 700;
}

@media (min-width: 320px) and (max-width: 1023px)
{
  .pluses__card-text{
    font-size: 8px;
    font-weight: 400;
  }
}
