.header{
  max-width: 1170px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 560px) and (max-width: 767px){
  .header{
    height: 200px;
    margin: auto;
    display: block;
  }
}
@media (min-width: 320px) and (max-width: 559px){
  .header{
    height: 200px;
    margin: auto;
    display: block;
  }
}
