.service-list__titl-bc{
  max-width: 789px;
  margin: auto;
  padding: 20px 80px 20px 80px;
  text-align: center;
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 600;
  color: #fff;
  background-color: rgba(245,184,17,1);
}
@media (min-width: 320px) and (max-width: 767px){
  .service-list__titl-bc{
    padding: 10px 20px 10px 20px;
    font-size: 22px;
  }
}
