.services__title{
  font-size: 32px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 140, 0);
  text-align: center;
  margin: 0;
}
@media (min-width: 320px) and (max-width: 559px){
  .services__title{
    max-width: 300px;
    margin: auto;
  }
}
