.nav-bar{
  list-style: none;
  display: flex;
  align-items: center;
}
@media (min-width: 1024px) and (max-width: 1069px){
  .nav-bar{
    padding-left: 0px;
  }
}
@media (min-width: 768px) and (max-width: 1023px){
  .nav-bar{
    padding-left: 0px;
  }
}
