.header__logo{
  font-size: 48px;
  font-family: 'Jura';
  font-weight: bold;
  line-height: 48px;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1023px){
  .header__logo{
    font-size: 33px;
    padding-left: 0px;
  }
}
@media (min-width: 560px) and (max-width: 767px)
{
  .header__logo{
    margin-top: 0px;
    font-size: 33px;
    padding-left: 40px;
  }
}
@media (min-width: 320px) and (max-width: 559px){
  .header__logo{
    margin-top: 0px;
    font-size: 40px;
    padding-left: 20px;
    padding-bottom: 20px;
  }
}
