.cover-liciens__title{
  max-width: 1100px;
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  color: #fff;
  margin: auto;
  padding: 40px 0px 40px 0px;
  font-family: Helvetica, sans-serif;
}
