.intro__liciens-text{
  font-family: 'OpenSans';
  font-size: 28px;
  font-weight: 300;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 0px;
}
@media (min-width: 320px) and (max-width: 767px)
{
  .intro__liciens-text{
    text-align: center;
  }
}
