.description__title{
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
}
@media (min-width: 560px) and (max-width: 767px)
{
  .description__title{
    font-size: 26px;
  }
}
