.intro__container-subtitle{
  font-size: 27px;
  font-family: 'Jura';
  font-weight: normal;
  text-align: center;
  color: #fff;
  margin-top: 5px;
  color:  rgb(255, 140, 0);
  margin-bottom: 40px;
}
@media (min-width: 320px) and (max-width: 767px){
  .intro__container-subtitle{
    font-size: 16px;
    margin-bottom: 10px;
  }
}
