.intro{
  background: rgb(91,91,92);
  background: linear-gradient(166deg, rgba(91,91,92,1) 0%, rgba(24,24,34,1) 50%, rgba(31,16,16,1) 100%);
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1023px){
  .intro{
    height: 720px;
  }
}
@media (min-width: 560px) and (max-width: 767px){
  .intro{
    height: 780px;
  }
}
@media (min-width: 320px) and (max-width: 559px){
  .intro{
    height: 900px;
  }
}
