.header__menu{
  font-family: 'OpenSans';
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}
@media (min-width: 768px) and (max-width: 1023px){
  .header__menu{
    font-size: 12px;
  }
}
@media (min-width: 320px) and (max-width: 767px)
{
  .header__menu{

  }
}
