.anchor-link{
  width: 80px;
  height: 74px;
  position: fixed;
  top: 50%;
  left: 5%;
}
@media (min-width: 320px) and (max-width: 768px){
  .anchor-link{
    width: 50px;
    height: 50px;
    top: 88%;
    left: 5%;
  }
}
