.header__menu-link{
  list-style: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin-right: 20px;
  margin-bottom: 0px;
  border: 1px solid white;
  padding: 5px 5px 5px 5px ;
}
.header__menu-link:hover{
  color: red;
}
@media (min-width: 768px) and (max-width: 1023px){
  .header__menu-link{
    padding-left: 0px;
  }
}
@media (min-width: 320px) and (max-width: 767px){
  .header__menu-link{
    display: block;
    margin-bottom: 10px;
    text-align: center;
  }
}
