.intro__container-title{
  font-size: 34px;
  font-family: 'Jura';
  font-weight: normal;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 0px;
  margin-top: 0px;
}
@media (min-width: 320px) and (max-width: 559px){
  .intro__container-title{
    width: 300px;
    margin: auto;
    font-size: 22px;
  }
}
