.intro__description{
  max-width: 845px;
  margin-top: 0px;
  font-size: 32px;
  line-height: 39px;
  font-family: 'OpenSans';
  font-weight: 700;
  text-align: center;
  color: rgb(255, 140, 0);
}
@media (min-width: 768px) and (max-width: 1023px)
{
  .intro__description{
    font-size: 27px;
  }
}
@media (min-width: 560px) and (max-width: 767px){
  .intro__description{
    font-size: 21px;
  }
}
@media (min-width: 320px) and (max-width: 767px){
  .intro__description{
    max-width: 300px;
    margin: auto;
    font-size: 13px;
    line-height: 13px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
}
