.nav-bar__img{
  background-image: url(../../../../image/png-transparent-24-7-service-technical-support-help-desk-business-24x7-computer-network-company-text.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  margin-top: 10px;
}
