.description__text-tem{
  color: #FF8C00;
  font-size: 32px;
  font-family: 'RussOne-Regular';
  font-weight: bold;
  text-align: center;
  margin: 0;
  margin-top: 7px;
}
@media (min-width: 560px) and (max-width: 767px)
{
  .description__text-tem{
    text-align: right;
  }
}
@media (min-width: 320px) and (max-width: 559px){
  .description__text-tem{
    text-align: center;
    font-size: 25px;
  }
}
