.services__cards{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 559px){
  .services__cards{
    display: flex;
    flex-wrap: wrap;
  }
}
