.intro__title{
  max-width: 560px;
  margin: auto;
  text-align: center;
  font-family: 'RussOne-Regular';
  font-size: 42px;
  font-weight: bold;
  line-height: 35px;
  color: #fff;
  padding-top: 35px;
}
@media (min-width: 768px) and (max-width: 1023px)
{
  .intro__title{
    font-size: 31px;
    text-align: center;
  }
}
@media (min-width: 560px) and (max-width: 767px)
{
  .intro__title{
    font-size: 27px;
    text-align: center;
}
}
@media (min-width: 320px) and (max-width: 559px)
{
  .intro__title{
    margin-top: 20px;
    margin-bottom: 10px;
    max-width: 300px;
    text-align: center;
    font-size: 30px;
    padding-top: 0px;
  }
}
